<link rel="stylesheet" href="../css/style.css">
<div class="detailcontent">
    <h1>{{info.name}}</h1>
    <p>
        ID do usuário: {{info.id}}<br>
        Genero: {{info.gender}}<br>
        Telefone: {{info.phone}}<br>
        E-mail: {{info.email}}
    </p>

</div>